body {
    font-family: Arial, sans-serif;
    background-color: #4CAF50; /* Dark green background */
  }
  
  #container {
    text-align: center;
    margin-top: 50px;
  }
  
  #game {
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #FFD700; /* Gold text color */
  }
  
  h2 {
    margin-bottom: 10px;
    color: #FFD700; /* Gold text color */
  }
  
  #player-hand, #dealer-hand {
    display: inline-block;
    margin: 0 20px;
  }
  
  #player-cards, #dealer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #FFFFFF; /* White card background */
    border: 1px solid #000000; /* Black border */
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 16px;
  }
  
  #result {
    font-size: 24px;
    margin-top: 20px;
    color: #FFD700; /* Gold text color */
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFD700; /* Gold button background */
    color: #000000; /* Black button text color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #FFA500; /* Orange hover color */
  }
  
  #start-button {
    display: none;
  }
  
